
body{
  margin: 0;
   padding: 0;
   font-family: "open sans",sans-serif;
 background: #F4F4F4;
  background-size: cover;
  height: 100%;

}
.about-section{
  width: 70%;
background:#F4F4F4;
  padding: 40px 0;
  margin-left: auto;
  margin-right:auto;
  margin-top: 170px;
box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
border-radius: 30px;
border-left: 50px solid #FF6666;
border-right: 50px solid #FF6666;


}
.inner-width{
  max-width: 1000px;
  overflow: hidden;
  padding: 0 20px;
  margin: auto;
}
.about-section h1{
  text-align: center;
}
.border{
  width: 100px;
  height: 3px;
  background: #FF6666;
  margin: 40px auto;
}
.about-section-row{
  display: flex;
  flex-wrap: wrap;
}
.about-section-col{
  flex: 50%;
}
.about{
  padding-right: 30px;
}
.about p{
  text-align: justify;
  margin-bottom: 20px;
  color: #7E7C7A;
  font-size: 17px;
}
.about a{
  display: inline-block;
  color: #7E7C7A;
  text-decoration: none;
  border: 2px solid #FF6666;
  border-radius: 24px;
  padding: 8px 40px;
  transition: 0.4s linear;
}
.about a:hover{
  color: black;
  background: #ffd4d4;
}
.skills{
  padding-left: 30px;
}
.skill{
  margin-bottom: 10px;
}
.title{
  color: #7E7C7A
}
.progress{
  width: 100%;
  height: 12px;
  background: #ddd;
  border-radius: 12px;
}
.progress-barSpeed{
  height: 15px;
  background: #80c2ed;
  border-radius: 12px;
}

.progress-barSafety{
  height: 15px;
  background: #9be084;
  border-radius: 12px;
}

.progress-barPrice{
  height: 15px;
  background: #ed7a6b;
  border-radius: 12px;
}

.p1{
  width: 100%;
}
.p2{
  width: 100%;
}
.p3{
  width: 100%;
}
.progress-barSpeed span{
  float: right;
  margin-right: 6px;
  line-height: 13px;
  color: #80c2ed;
  font-size: 12px;
}

.progress-barSafety span{
  float: right;
  margin-right: 6px;
  line-height: 13px;
  color: #9be084;
  font-size: 12px;
}

.progress-barPrice span{
  float: right;
  margin-right: 6px;
  line-height: 13px;
  color: #ed7a6b;
  font-size: 12px;
}


@media screen and (max-width:700px) {
  .about-section-col{
    flex: 100%;
    margin: 10px 0;
  }
  .about,.skills{
    padding: 0;
  }
  .about{
    text-align: center;
  }
}
