<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <servlet>
        <servlet-name>logIn</servlet-name>
        <servlet-class>mvc.controller.logIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logOut</servlet-name>
        <servlet-class>mvc.controller.logOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookRide</servlet-name>
        <servlet-class>mvc.controller.bookRide</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signUp</servlet-name>
        <servlet-class>mvc.controller.signUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showInvoice</servlet-name>
        <servlet-class>mvc.controller.showInvoice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminLogIn</servlet-name>
        <servlet-class>mvc.controller.adminLogIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>submitQuery</servlet-name>
        <servlet-class>mvc.controller.submitQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myBookings</servlet-name>
        <servlet-class>mvc.controller.myBookings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allQueries</servlet-name>
        <servlet-class>mvc.controller.allQueries</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeQueryStatus</servlet-name>
        <servlet-class>mvc.controller.changeQueryStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allBookings</servlet-name>
        <servlet-class>mvc.controller.allBookings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filterBookingsDate</servlet-name>
        <servlet-class>mvc.controller.filterBookingsDate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filterPassengerOrDriver</servlet-name>
        <servlet-class>mvc.controller.filterPassengerOrDriver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allUsers</servlet-name>
        <servlet-class>mvc.controller.allUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filterUsers</servlet-name>
        <servlet-class>mvc.controller.filterUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteUser</servlet-name>
        <servlet-class>mvc.controller.deleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filterBookingsDatePassenger</servlet-name>
        <servlet-class>mvc.controller.filterBookingsDatePassenger</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filterPassengerBookings</servlet-name>
        <servlet-class>mvc.controller.filterPassengerBookings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createDriver</servlet-name>
        <servlet-class>mvc.controller.createDriver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>passengerEditProfile</servlet-name>
        <servlet-class>mvc.controller.passengerEditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatePassenger</servlet-name>
        <servlet-class>mvc.controller.updatePassenger</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>driverHomePage</servlet-name>
        <servlet-class>mvc.controller.driverHomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rideStatusUpdate</servlet-name>
        <servlet-class>mvc.controller.rideStatusUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myOrders</servlet-name>
        <servlet-class>mvc.controller.myOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filterBookingsDateDriver</servlet-name>
        <servlet-class>mvc.controller.filterBookingsDateDriver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filterDriverOrders</servlet-name>
        <servlet-class>mvc.controller.filterDriverOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editUser</servlet-name>
        <servlet-class>mvc.controller.editUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminUpdateUser</servlet-name>
        <servlet-class>mvc.controller.adminUpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editPassword</servlet-name>
        <servlet-class>mvc.controller.editPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logIn</servlet-name>
        <url-pattern>/logIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logOut</servlet-name>
        <url-pattern>/logOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookRide</servlet-name>
        <url-pattern>/bookRide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signUp</servlet-name>
        <url-pattern>/signUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showInvoice</servlet-name>
        <url-pattern>/showInvoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminLogIn</servlet-name>
        <url-pattern>/adminLogIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>submitQuery</servlet-name>
        <url-pattern>/submitQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myBookings</servlet-name>
        <url-pattern>/myBookings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allQueries</servlet-name>
        <url-pattern>/allQueries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeQueryStatus</servlet-name>
        <url-pattern>/changeQueryStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allBookings</servlet-name>
        <url-pattern>/allBookings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filterBookingsDate</servlet-name>
        <url-pattern>/filterBookingsDate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filterPassengerOrDriver</servlet-name>
        <url-pattern>/filterPassengerOrDriver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allUsers</servlet-name>
        <url-pattern>/allUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filterUsers</servlet-name>
        <url-pattern>/filterUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteUser</servlet-name>
        <url-pattern>/deleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filterBookingsDatePassenger</servlet-name>
        <url-pattern>/filterBookingsDatePassenger</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filterPassengerBookings</servlet-name>
        <url-pattern>/filterPassengerBookings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createDriver</servlet-name>
        <url-pattern>/createDriver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>passengerEditProfile</servlet-name>
        <url-pattern>/passengerEditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatePassenger</servlet-name>
        <url-pattern>/updatePassenger</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>driverHomePage</servlet-name>
        <url-pattern>/driverHomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rideStatusUpdate</servlet-name>
        <url-pattern>/rideStatusUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myOrders</servlet-name>
        <url-pattern>/myOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filterBookingsDateDriver</servlet-name>
        <url-pattern>/filterBookingsDateDriver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filterDriverOrders</servlet-name>
        <url-pattern>/filterDriverOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editUser</servlet-name>
        <url-pattern>/editUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminUpdateUser</servlet-name>
        <url-pattern>/adminUpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editPassword</servlet-name>
        <url-pattern>/editPassword</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            20
        </session-timeout>
    </session-config>
</web-app>
